<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles2.css">
    <meta charset="utf-8">
    <title> stellaris </title>
</head>

<body>

    <div class="container">
        <div class="top">
        </div>
        <div class="nav">
            <ul class="ul">
                <li class="ul_li"><a href='index.html'>главная</a></li>
                <li class="ul_li"><a href='info.html'>about
                </a></li>
                <li class="ul_li"><a href='https://store.steampowered.com/app/281990/Stellaris/'>steam
                </a></li>
                <li class="ul_li"><a href='https://stellaris.paradoxwikis.com/Stellaris_Wiki'>viki
                </a></li>
                <li class="ul_li"><a href='photki.html'>картьиночьки
                </a></li>
            </ul>
        </div>
        
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
                <div class="text">
                <p>
                    Встречайте бесчисленное множество инопланетных рас и взаимодействуйте с ними в своих межзвездных путешествиях. Создайте галактическую империю: пусть научные корабли бороздят просторы вселенной, а строительные суда окружают обнаруженные планеты станциями. Находите таинственные сокровища, открывайте для себя чудеса космоса и направляйте свой народ, расширяя или ограничивая возможности исследователей. Будьте готовы ко всему — держитесь союзников и берегитесь врагов.
                    
                    Как и во всех наших глобальных стратегиях, в Stellaris со временем у вас появляются новые возможности. А политика бесплатных обновлений, существующая в каждой активно поддерживаемой игре от Paradox, позволит вам еще больше усилить и расширить свою империю с новыми технологиями и возможностями. Что же ждет вас там, среди звезд? Ответ найдете лишь вы сами.
                    Глубокая и разнообразная система исследований
                    Каждую игру вы будете начинать за цивилизацию, которая только открыла возможность межзвездных путешествий и жаждет начать исследование галактики. Отправляйте научные корабли на исследование систем и изучение аномалий, запускайте цепочки событий, находите необычные миры с еще более необычными историями и делайте открытия, которые могут перевернуть ход развития вашей империи.
                    Невероятно красивый космос
                    Комплексная проработка уникальных планет и небесных тел дает возможность насладиться эффектным зрелищем детализированного космоса.
                    Безграничное видовое разнообразие и расширенная система дипломатии
                    Ручная настройка и процедурная генерация позволят вам встретить безграничное разнообразие видов. Выбирайте положительные и отрицательные признаки, особую идеологию, любые ограничения, способы развития и все, что только можно представить. Взаимодействуйте с другими расами с помощью расширенной системы дипломатии. Дипломатия — это ключ к сбалансированной глобальной стратегии. Подстраивайте свою стратегию под ситуацию с помощью умелых переговоров.
                    Войны галактического масштаба
                    Вас ждет нескончаемый цикл войн, дипломатии, подозрений и союзов. Защищайтесь или атакуйте, используя полностью настраиваемые военные флотилии. И помните, что адаптация — это ключ к победе. Изучайте сложные технологии и используйте их при проектировании и изменении кораблей в конструкторе судов. Кроме того, перед вами масса возможностей, и каждое решение способно запустить целую цепочку событий.
                    Огромные процедурно генерируемые галактики
                    Развивайте и расширяйте свою империю с помощью тысяч случайно сгенерированных вариаций галактики, сочетаний планет, цепочек событий и блуждающих в космосе монстров.
                    Играйте в своем стиле
                    Создайте свою, уникальную империю! Для каждой империи можно выбрать такие характеристики, как принципы и форма правления, класс пригодных для жизни планет, а также технологии, предпочитаемый тип двигателей для сверхсветовых перемещений и многое другое. Только от вас зависит, станет ли она сообществом грибов-убийц или рептилий-инженеров. Именно от ваших решений будет зависит направление и развитие игры.
                </p>
                </div>
        </div>
        <div class="footer">
        </div>
    </div>
</body>
</html>