<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles2.css">
    <meta charset="utf-8">
    <title> stellaris </title>
</head>

<body>

    <div class="container">
        <div class="top">
        </div>
        <div class="nav">
            <ul class="ul">
                <li class="ul_li"><a href='index2.html'>главная</a></li>
                <li class="ul_li"><a href='info.html'>about
                </a></li>
                <li class="ul_li"><a href='https://store.steampowered.com/app/281990/Stellaris/'>steam
                </a></li>
                <li class="ul_li"><a href='https://stellaris.paradoxwikis.com/Stellaris_Wiki'>viki
                </a></li>
                <li class="ul_li"><a href='photki.html'>картьиночьки
                </a></li>
            </ul>
        </div>
        
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
                <div class="text">
                <p>
                    Встречайте бесчисленное множество инопланетных рас и взаимодействуйте с ними в своих межзвездных путешествиях. Создайте галактическую империю: пусть научные корабли бороздят просторы вселенной, а строительные суда окружают обнаруженные планеты станциями. Находите таинственные сокровища, открывайте для себя чудеса космоса и направляйте свой народ, расширяя или ограничивая возможности исследователей. Будьте готовы ко всему — держитесь союзников и берегитесь врагов.
                </p>
                </div>
                <img src="assest/main.jpg" width="550px" height="450x" title="bye in steam">
        </div>
        <div class="footer">
            <p> выполнили: Селивёрстов, рыжов</p>
        </div>
    </div>

</body>

</html>

